<!doctype html>

<div class="container">
    <h2 class="text-center">Your personal information</h2>
    <div>

      <div ng-if="!myInfoCtrl.hasUserAlreadySubscribed">
        <div class="alert alert-warning infoBanner">
            <strong>{{myInfoCtrl.registrationNOK}}</strong> <a ui-sref="public.signUp"> {{myInfoCtrl.registrationNOK2}} </a>
        </div>
      </div>

      <div ng-if="myInfoCtrl.hasUserAlreadySubscribed">
        Your name : {{myInfoCtrl.userData.firstname}}  {{myInfoCtrl.userData.lastname}}
        <br>
        Your phone number : {{myInfoCtrl.userData.phone}}
        <br>
        Your e-mail address : {{myInfoCtrl.userData.email}}

        <br>
        <br>
        Your favorite dish :
        <br>
        <strong>{{myInfoCtrl.userData.preferredItem.name}}</strong> : {{myInfoCtrl.userData.preferredItem.description}}

        <br>
        <img class="img-responsive" width="250" height="150"
            ng-src="{{myInfoCtrl.userData.preferredItem.imgPath}}"
            alt="{{myInfoCtrl.userData.preferredItem.name}}">

      </div>

    </div>



</div>
